<checks>
    <checkgroup name="Morning Checks" time="08:00:00">
        <check name="ASX Products" type="filecheck" args="/dfs/raw/live/asx/YYYYMMDD/YYYYMMDD.products.csv,0.05,AX" />
        <check name="HKEx Products" type="filecheck" args="/dfs/raw/live/hkex/YYYYMMDD/YYYYMMDD.products.csv,0.05,HS" />
        <check name="HKEx ETFs" type="filecheck" args="/dfs/raw/live/hkex/YYYYMMDD/YYYYMMDD.etfs.csv,0.05,HS" />
        <check name="SZSE Fund Products" type="filecheck" args="/dfs/raw/live/szse/YYYYMMDD/YYYYMMDD.fundproducts.xlsx,0.05,SN" />
        <check name="SZSE Stock Products" type="filecheck" args="/dfs/raw/live/szse/YYYYMMDD/YYYYMMDD.stockproducts.xlsx,0.05,SN" />
        <check name="SSE Products" type="filecheck" args="/dfs/raw/live/sse/YYYYMMDD/YYYYMMDD.products.txt,0.05,SH" />
        <check name="KRX Products" type="filecheck" args="/dfs/raw/live/krx/YYYYMMDD/YYYYMMDD.products.json,0.05,SE" />

        <check name="JPX Stock Quotes" type="filecheck" args="/dfs/raw/live/jpx/PYYYYMMDD/stq_PYYYYMMDD.pdf,0.05,TK" />
        <check name="JPX Bond Quotes" type="filecheck" args="/dfs/raw/live/jpx/PYYYYMMDD/boq_PYYYYMMDD.pdf,0.05,TK" />
        <check name="JPX Estimated Settled Quotes" type="filecheck" args="/dfs/raw/live/jpx/PYYYYMMDD/est-set_PYYYYMMDD.pdf,0.05,TK" />

        <check name="JPX Quotes (csv)" type="filecheck" args="/dfs/stage/jpx/PYYYYMMDD/PYYYYMMDD.stockquotes.csv,0.05,TK" />
    </checkgroup>

    <checkgroup name="Evening Checks" time="20:00:00">
        <check name="AAStocks HKEx Dividends (raw)" type="filecheck" args="/dfs/raw/live/aastocks/YYYYMMDD/YYYYMMDD.hkex.dividends.json,0.05,HK" />
        <check name="AAStocks SSE Dividends (raw)" type="filecheck" args="/dfs/raw/live/aastocks/YYYYMMDD/YYYYMMDD.sse.dividends.json,0.05,SH" />
        <check name="AAStocks SZSE Dividends (raw)" type="filecheck" args="/dfs/raw/live/aastocks/YYYYMMDD/YYYYMMDD.szse.dividends.json,0.05,SN" />
        <check name="AAStocks HKEx Dividends (csv)" type="filecheck" args="/dfs/stage/aastocks/YYYYMMDD/YYYYMMDD.hkex.divs.csv,0.05,HK" />
        <check name="AAStocks SSE Dividends (csv)" type="filecheck" args="/dfs/stage/aastocks/YYYYMMDD/YYYYMMDD.sse.divs.csv,0.05,SH" />
        <check name="AAStocks SZSE Dividends (csv)" type="filecheck" args="/dfs/stage/aastocks/YYYYMMDD/YYYYMMDD.szse.divs.csv,0.05,SN" />

        <check name="MarketIndex ASX Dividends (raw)" type="filecheck" args="/dfs/raw/live/marketindex/YYYYMMDD/YYYYMMDD.dividends.json,0.30,AX" />
        <check name="MarketIndex ASX Dividends (csv)" type="filecheck" args="/dfs/stage/marketindex/YYYYMMDD/YYYYMMDD.divs.csv,0.30,AX" />

        <check name="Yahoo ASX Summary" type="filecheck" args="/dfs/raw/live/yahoo/YYYYMMDD/YYYYMMDD.asx.summary.json,0.05,AX" />
        <check name="Yahoo HKEx Summary" type="filecheck" args="/dfs/raw/live/yahoo/YYYYMMDD/YYYYMMDD.hkex.summary.json,0.05,HK" />
        <check name="Yahoo SSE Summary" type="filecheck" args="/dfs/raw/live/yahoo/YYYYMMDD/YYYYMMDD.sse.summary.json,0.05,SH" />
        <check name="Yahoo SZSE Summary" type="filecheck" args="/dfs/raw/live/yahoo/YYYYMMDD/YYYYMMDD.szse.summary.json,0.05,SN" />

        <check name="Yahoo ASX Quotes" type="filecheck" args="/dfs/stage/yahoo/YYYYMMDD/YYYYMMDD.asx.quotes.csv,0.05,AX" />
        <check name="Yahoo HKEx Quotes" type="filecheck" args="/dfs/stage/yahoo/YYYYMMDD/YYYYMMDD.hkex.quotes.csv,0.05,HK" />
        <check name="Yahoo SSE Quotes" type="filecheck" args="/dfs/stage/yahoo/YYYYMMDD/YYYYMMDD.sse.quotes.csv,0.05,SH" />
        <check name="Yahoo SZSE Quotes" type="filecheck" args="/dfs/stage/yahoo/YYYYMMDD/YYYYMMDD.szse.quotes.csv,0.05,SN" />
        <check name="Yahoo KRX Quotes" type="filecheck" args="/dfs/stage/yahoo/YYYYMMDD/YYYYMMDD.krx.quotes.csv,0.05,SE" />
    </checkgroup>
</checks>
