<indices>
    <index key='HSI' value='INDEXHANGSENG:HSI' />
    <index key='HSCEI' value='INDEXHANGSENG:HSCEI' />
    <index key='XJO' value='INDEXASX:XJO' />
    <index key='XTO' value='INDEXASX:XTO' />
    <index key='XFL' value='INDEXASX:XFL' />
    <index key='XKO' value='INDEXASX:XKO' />
    <index key='TPX' value='INDEXTOPIX:TOPIX' />
    <index key='TPX100' value='INDEXTOPIX:TOPIX100' />
    <index key='TPX500' value='INDEXTOPIX:TOPIX500' />
    <index key='TPX1000' value='INDEXTOPIX:TOPIX1000' />
    <index key='TPXL70' value='INDEXTOPIX:LARGE70' />
    <index key='TPXL30' value='INDEXTOPIX:CORE30' />
    <index key='TPXM400' value='INDEXTOPIX:MID400' />
    <index key='NKY' value='INDEXNIKKEI:NI225' />
    <index key='NKY500' value='INDEXNIKKEI:N500' />
    <index key='JPNK400' value='INDEXTYO:JPXNIKKEI400' />
    <index key='SHSZ300' value='SHA:000300' />
    <index key='SHASHR' value='SHA:000002' />
    <index key='SSE180' value='SHA:000010' />
    <index key='SSE50' value='SHA:000016' />
</indices>